header {
    color: #ffffff;
    padding: 20px 0;
    position: top;
    filter: brightness(1.2) contrast(1.2);
    text-align: center;
}

section {
    border-color: rgb(0,0,0);
    width: 60%;
    height: 60%;
    position: absolute;
    left: 20%;
    top: 25%;
    background-color: #0f1c32;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

Section h1 {
    font-size: 24px;
    margin-bottom: 5%;
}

section p1 {
    font-size: 20px;
    position: relative;
    left: -36.4%;
    padding-bottom: 5%;
}

section p2 {
    font-size: 20px;
    position: relative;
    left: 10.3%;
    display: inline-block;
    padding-bottom: 5%;
}

section p3 {
    font-size: 20px;
    position: relative;
    left: 23.7%;
    display: inline-block;
    padding-bottom: 5%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(66, 137, 192),60%, purple);
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    color: white;
}

.container{
    background: #93B1A6;
    border: none;
    overflow: hidden;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100%;
}

.topics {
    color: #DEDFDF;
    top: 10%;
    width: 100%;
    position: right;
    text-align: center;
    position: relative;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #DEDFDF;
}



.Spacing {
    left: 0%;
    top: 100%;
}

.post {
    display: flex;
}

.TitlePost {
    font-size: 18px;
    color: white;
    left: 3.2%;
    position: relative;
    max-width: 50%;
    text-align: justify;
}

.videoPost {
    left: 5%;
    position: relative;
}

.UsernamePost {
    position: absolute;
    left: 50%;
    padding-left: 5%;
}

.CategoriePost {
position: absolute;
left: 70%;
padding-left: 5%;
}

.logout {
    position: absolute;
    left: 0.7%;
    border: none;
    background-color: rgb(103, 75, 224);
    color: #f1f1f1;
    font-size: 18px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.input {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #0f1c32;
    width: 100%;
    height: 7.5%;
    justify-content: left;
    align-items: center;
  }
  
.input img {
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
} 

  .value {
    background-color: transparent;
    border: none;
    padding-right: 20px;
    color: white;
    font-size: 16px;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 10px 0 10px;
  }

  .value a {
    text-decoration: none;
    color: white;
  }

  .input form button {
    position: absolute;
    right: 0%;
    top: 3%;
  }

  .btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    cursor: pointer;
    position: absolute;
    right: 0%;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

   .input-bas {
    position: absolute;
    bottom: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #0f1c32;
    height: 3.75%;
    justify-content: left;
    align-items: center;
  }


  