header {
    background-color: #5a5a5a;
    color: #ffffff;
    padding: 20px 0;
    position: top;
    filter: brightness(1.2) contrast(1.2);
    text-align: center;
}

button {
    background-color: rgb(23, 100, 160);
    color: white;
    padding: 10px 10px;
    position: right;
    text-align: right;
    position: absolute;
    border-color: rgb(23, 100, 160);
    border-radius: 2rem;
    border: none;
    top: 35%;
    right: 5%;
}

section {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 10%;
    top: 25%;
    background-color: #5a5a5a;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

button1 {
    color: beige;
    top: 10%;
    width: 10%;
    position: right;
    text-align: right;
    position: relative;
}