body {
    background: linear-gradient(to right,rgb(66, 137, 192),60%, purple);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.input {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  background-color: #0f1c32;
  width: 100%;
  height: 7.5%;
  justify-content: left;
  align-items: center;
}

.input img {
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
} 

.value {
  background-color: transparent;
  border: none;
  padding-right: 20px;
  color: white;
  font-size: 16px;
  display: flex;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 10px 0 10px;
}

.value a {
  text-decoration: none;
  color: white;
}

.input form button {
  position: absolute;
  right: 0%;
  top: 3%;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid rgb(252, 70, 100);
  cursor: pointer;
  position: absolute;
  right: 0%;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.imagepost {
 margin-left: auto;
 margin-right: auto;
 padding-top: 30px;
 padding-bottom: 20px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 7.5%;
  font-size: 200%;
  color: white;
}

.container {
    --col-gray: #30344c;
    --col-white: #fff;
    --col-like: #2196f3;
    --col-dislike: #ff3232;
    --transition: 350ms;
    background-color: var(--col-gray);
    width: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  
  .container label input {
    display: none;
  }
  
  .container #like:checked + svg {
    animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
    fill: var(--col-like);
  }
  
  .container #dislike:checked + svg {
    animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
    fill: var(--col-dislike);
  }
  
  .container #comment:checked + svg {
    animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
    fill: var(--col-comment);
  }
  
  .container .icon {
    cursor: pointer;
    fill: var(--col-white);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container .icon.like {
    margin-left: 9px;
  }
  
  .container .icon.dislike {
    margin-right: 9px;
  }
  
  .container .icon.comment {
    margin-right: 20px;
  }
  
  @keyframes evaluation-animation {
    0%,
    100% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.1) rotate(-10deg);
    }
  }
  
  .card {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #30344c;
    padding: 1em;
    z-index: 5;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 500px;
    max-height: 300px;
    transition: 200ms ease-in-out;
  }
  
  .card img {
    max-width: 450px;
    max-height: 250px;
  }

  .card2 {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: #30344c;
    padding: 1em;
    z-index: 5;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 500px;
    max-height: 300px;
    transition: 200ms ease-in-out;
  }
  
  .username {
    color: #C6E1ED;
    font-size: 0.85em;
    font-weight: 600;
    margin-right: auto;
  }
  
  .body {
    display: flex;
    flex-direction: column;
  }
  
  .body .text {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #c0c3d7;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4px;
  }
  
  .footer {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-top: 10px;
  }
  
  .footer div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .footer svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
  }
  
  .area {
    margin-top: 5%;
    padding: 10px;
    width: 350px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 1px  gray;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas,monaco,monospace;
  }
  
  .area:focus {
    outline: 1px solid blue;
    box-shadow: none;
    width: 500px;
  }
  
  .area::placeholder {
    color: blue;
  }
  
  form input {
    width: 10%;
    padding: 10px;
    margin-top: 2%;   
    border: none;
    border-radius: 5px;
    background: rgb(252, 10, 10);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
  }

  form input:hover {
    background: rgb(252, 70, 100);
  }

  