<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/main_page.css">
</head>
<body>

<header>
    <h1>EFsport</h1>
    <h2>
        {{if .IsLoggedIn}}
        <div class="dropdown">
            <button class="bloc-top">
                <a href="http://localhost:6969/profil">Mon profil</a>
            </button>
            <div class="bloc-links">
                <ul>
                    <li>
                        <br><br>
                        <a href="http://localhost:6969/newpost">Creer un post</a>
                        <br><br>
                    </li>
                    <li>
                        <a href="/posts">Post</a>
                        <br><br>
                    </li>
                    <li>
                        <form id="logout-form" action="/logout" method="post">
                        
                            <button type="submit" class="logout">Déconnexion</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
            <div class="container">
                <!-- <img src="/images/{{.ProfilePicture}}" alt="Photo de profil" class="profile-picture" id="profile-picture">
                /*Formulaire d'upload d'image (initiallement caché)*/
                <form id="upload-form" style="display: none;" action="/uploadProfilePicture" method="post" enctype="multipart/form-data">
                    <input type="file" name="profilePicture" id="profile-picture-input">
                    <input type="submit" value="Upload" id="upload-button">
                </form> -->
            </div>
        {{else}}
            <div class="dropdown">
                <button class="bloc-top">
                    <a href="http://localhost:6969/login">Page de connexion</a>
                    <br><br>
                </button>
                <div class="bloc-links">
                    <ul>
                        <li>
                            <br><br><br>
                            <a href="http://localhost:6969/login">Creer un post</a>
                            <br><br>
                        </li>
                        <li>
                            <a href="/posts">Post</a>
                            <br><br>
                        </li>
                        <li>
                            <a href="#">Lien 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        {{end}}
    </h2>
</header>

<section>
    <p>Derniers sujets à la une</p>
    {{range .Posts}}
    <div class="post">
        <div class="TitlePost">{{.Title}}:</div>
        <div class="UsernamePost">Posté par : {{.Username}}</div>   
        {{if .Video}}
        <div class="videoPost">
        <video width="320" height="240" controls>
            <source src="/{{.Video}}" type="video/mp4">
            Votre navigateur ne supporte pas la balise vidéo.
        </video>
        {{end}}
        {{range .Image}}
        <img src="/{{.}}" alt="Image" width="320">
        {{end}}
        </div>
    </div>
    <hr>
    {{end}}
</section>

<!-- JavaScript pour gérer le clic sur la photo de profil-->
<script>
    document.getElementById("profile-picture").addEventListener("click", function() {
        // Afficher le formulaire d'upload d'image
        document.getElementById("upload-form").style.display = "block";
    });

    // JavaScript pour afficher le nom du fichier sélectionné
    document.getElementById("profile-picture-input").addEventListener("change", function() {
        var fileName = this.files[0].name;
        document.getElementById("upload-button").value = "Upload ";
    });
</script>
</body>
</html>
