<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/static/main_page.css">
</head>
<body>

<header>
    <h2>
      
</header> 

<section>
    <h1>Derniers sujets à la une</h1>
    <p1>Sujet</p1><p2>Auteur</p2><p3>Catégorie</p3>

    {{range .Posts}}
    <div class="post">
        <div class="TitlePost">{{.Title}}</div>
        <div class="UsernamePost">{{.Username}}</div>
        <div class="CategoriePost">League of Legends</div>  
    </div>
    <hr>
    {{end}}
</section>
<div class="input-bas"></div>
{{if .IsLoggedIn}}
<div class="input">
    <img src="/images/telecharge_19-removebg-preview(1).png">
    <a href="http://localhost:6969/profil">
    <button class="value">
      Mon profil</a>
      
    </button>
    <button class="value">
      <a href="/posts">Posts</a>
    </button>
    <button class="value">
        <a href="http://localhost:6969/newpost">Creer un post</a>
    </button>
    <form id="logout-form" action="/logout" method="post">
                        
        <button type="submit" class="btn">Déconnexion</button>
    </form>
  </div>
  {{else}}
  <div class="input">
    <img src="/images/telecharge_19-removebg-preview(1).png">
    <a href="http://localhost:6969/profil">
    <button class="value">
      Mon profil</a>
      
    </button>
    <button class="value">
      <a href="/posts">Posts</a>
    </button>
    <button class="value">
        <a href="http://localhost:6969/newpost">Creer un post</a>
    </button>
    <a class="btn" href="http://localhost:6969/login">Connexion</a>
  {{end}}


<!-- JavaScript pour gérer le clic sur la photo de profil-->
<script>
    document.getElementById("profile-picture").addEventListener("click", function() {
        // Afficher le formulaire d'upload d'image
        document.getElementById("upload-form").style.display = "block";
    });

    // JavaScript pour afficher le nom du fichier sélectionné
    document.getElementById("profile-picture-input").addEventListener("change", function() {
        var fileName = this.files[0].name;
        document.getElementById("upload-button").value = "Upload ";
    });
</script>
</body>
</html>
