<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/static/posts.css">
</head>
<body>
    <div class="input-bas"></div>
    <div class="input">
        <img src="/images/telecharge_19-removebg-preview(1).png">
        <a href="http://localhost:6969/profil">
        <button class="value">Mon profil</a></button>
        <button class="value"><a href="/posts">Posts</a></button>
        <button class="value"><a href="http://localhost:6969/newpost">Creer un post</a></button>
        <form id="logout-form" action="/logout" method="post">
            <button type="submit" class="btn">Déconnexion</button>
        </form>
    </div>
    <div class="posts-container">
        {{range .}}
        <button class="hover">
            <div class="fond">
                <a href="/details/{{.ID}}">
                    <div class="card">
                        <div class="body">
                            <p class="text">{{.Title}}</p>
                            {{if .Video}}
                            <video width="280" height="200" controls>
                                <source src="/{{.Video}}" type="video/mp4">
                                Votre navigateur ne supporte pas la balise vidéo.
                            </video>
                            {{end}}
                            {{if .Image}}
                            <div class="images">
                                {{range .Image}}
                                <img src="/{{.}}" alt="Post image" width="320">
                                {{end}}
                            </div>
                            {{end}}
                            <span class="username"><br>De: {{.Username}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </button>
        {{end}}
    </div>
</body>
</html>
